[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=7"
click-config-file = "*"
pymongo = "*"
iamdb = {editable = true,path = "."}

[dev-packages]
mypy = "*"
isort = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
